#Ignore pycache in all subdirectories
**/__pycache__/

#Ignore any object files
**.pyo
**.pyc
**.o

#Ignore OSX folders
**/__MACOSX/

#Ignore .idea folders
**/.idea/

#Ignore archives
**.zip
**.7zip
**.tar
**.rar
**.tgz
